.s-footer {
  background: $black;
  padding: 3em 0;
  color: $white;

  .footer--social {
    @include unstyled-list;
    color: $grey;
    text-align: center;
    font-size: 3em;

    li {
      display: inline-block;
      margin: 0 0 0 0.5em;
      &:first-child { margin-left: 0; }
    }

    a {
      color: $grey;
      &:hover { color: $near-white; }
      &:active { color: $white; }
    }

  } // .footer--social

  .footer--attribution {
    max-width: 30em;
    padding-top: 1em;
    margin: auto;
    border-top: 1px solid $dark-grey;
    font-size: 0.875em;
    font-style: italic;
    text-align: center;

    a {
      display: inline-block;
      padding: 0.25em 0.5em;
      border-radius: 1px;
    }

    a:hover {
      background: lighten($black, 10);
      color: $white;
    }

    a:active {
      background: lighten($black, 15);
      color: $white;
    }

    .footer--differentdrummer, .footer--copyright {
      font-family: $typeface-sans;
      font-style: normal;
    }

  } // .footer--attribution

} // .s-footer
