.s-footer {
  background: $black;
  padding: 3em 0;
  color: $white;

  .footer--social {
    @include unstyled-list;
    color: $grey;
    text-align: center;
    font-size: 3em;

    li {
      display: inline-block;
      margin: 0 0 0 0.5em;
      &:first-child { margin-left: 0; }
    }

    a {
      color: $grey;
      &:hover { color: $near-white; }
      &:active { color: $white; }
    }

  } // .footer--social

} // .s-footer
