.s-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 1px 1px rgba($black, 0.05);
  background: $white;
  background: rgba($white, 0.9375);
  color: $grey;
  font-weight: bold;
  text-transform: uppercase;

  .header--logo a {
    padding: 0.25em 0.5em;
  }

  @include media-ie(min-height $header-breakpoint) {

    .header--logo a {
      padding: 0.5em;
    }

  } // @include media-ie

} // .s-header
