.s-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: #{$header-height-small}em;
  width: 100%;
  background: $white;
  background: rgba($white, 0.9375);
  color: $grey;
  font-weight: bold;
  text-transform: uppercase;

  * {
    display: block;
    height: 100%;
  }

  @include media-ie(min-height $header-breakpoint) {
    height: #{$header-height-large}em;
  }

} // .s-header
