.s-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0.125em 0;
  background: #fff;
  background: rgba(255,255,255,0.9375);
  color: $grey;
  font-weight: bold;
  text-transform: uppercase;

  .s-header--logo {
    max-width: 5.5em;
    img { width: 100%; }
  }

  @include media(min-height 35em) {

    .s-header--logo {
      max-width: 7.5em;
    }

  } // @include media-ie(min-height 40em)

} // .s-header
