.l-news {
  padding-top: 4em;

  h2 {
    margin-bottom: 0.5em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    margin-bottom: 1em;
    color: $grey;
    font-family: $typeface-sans;
    text-align: center;
  }

  li {
    border-bottom: 1px solid $tan;
    list-style: none;
    &:last-child { border-bottom: none }
  }

  @include media-ie($breakpoint-ipad) {
    @include span-columns(8);
    @include shift(2);
  } // @include media-ie($breakpoint-ipad)

} // .l-news
