// Typefaces
$typeface-sans:  "freight-sans-pro", "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
$typeface-serif: "chaparral-pro", Georgia, Cambria, "Times New Roman", Times, serif;

p, a, h1, h2, h3, h4, h5, label {
  color: inherit;
  font-family: $typeface-serif;
  line-height: 1.0625;
}

h1 {
  color: $grey;
  font-family: $typeface-sans;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-family: $typeface-sans;
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {}

p {
  font-weight: 300;
}

hr {}
