/ = partial "sections/intro"
= partial "sections/about"
= partial "sections/submissions"
= partial "partials/films", locals: { year: year }
= partial "partials/judges", locals: { year: year }
= partial "partials/schedule", locals: { year: year }
= partial "sections/location"
