= partial "sections/intro"
= partial "sections/about"
/ = partial "sections/submissions"
= partial "partials/films", locals: { year: '2015' }
= partial "partials/sponsors", locals: { year: '2015' }
= partial "partials/judges", locals: { year: '2015' }
= partial "partials/schedule", locals: { year: '2015' }
= partial "sections/location"
