= partial "sections/intro"
= partial "sections/about"
/ = partial "sections/submissions"
= partial "partials/films", locals: { year: '2015' }
/ = partial "partials/judges"
/ = partial "partials/schedule"
= partial "sections/location"
