.m-film {
  padding: 0.5em 0 0 0.5em;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #e8e8e8;
  @include radial-gradient(circle at top left, $white 0%, $white 30%, rgba($white, 0) 50%, $fallback: transparent);

  h4 { font-weight: 300; }
  
} // .m-film

.m-film-poster {
  border: 1px solid #f3f3f3;
} // .m-film-poster


h3.headline {
  font-size: 1em;
  font-style: italic;
}
