.m-judge {
  text-align: center;

  .judge--photo {
    position: relative;
    border-radius: 50%;
  }

  img {
    display: block;
    width: 100%;
    border-radius: inherit;
    border: 1px solid darken($white, 10);
    box-shadow: 0px 1px 2px darken($white, 10);
  }

}  // .m-judge

.m-judge-overlay {
  @include transition(background-color 0.25s ease-in-out);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 45% 20%;
  border-radius: inherit;
  background: transparent;
  color: transparent;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
  @include media-ie-only { display: none; }

  .judge-overlay--info {
    @include transition(all 0.25s ease-in-out);
    @include transform(translateX(-160px));
  }

  a:hover & {
    background: $red;
    background: rgba($red,0.625);
    color: $white;
    @include media-ie-only { display: block; }

    .judge-overlay--info {
      @include transform(translateX(0px));
      transition-delay: 0.125s;
    }

    img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
      border: 1px solid $red;
      box-shadow: 0px 1px 2px $red;
    }

  } // a:hover &

  a:active & {
    background: darken($red, 10);
    background: rgba(darken($red, 10),0.75);
    color: $white;
    @include media-ie-only { display: block; }

    .judge-overlay--info {
      @include transform(translateX(160px));
    }

    img {
      border: none;
      box-shadow: none;
    }

  } // a:active &

} // .m-judge-overlay

.m-judge-bio {
  text-align: justify;
  font-size: 1.25em;
}
