.m-nav {
  @include unstyled-list;
  @include clearfix;
  height: 100%;
  color: $grey;
  font-family: $typeface-sans;
  text-align: right;

  @mixin block-link-style {
    border-top: 1px solid darken($near-white, 5);
    border-left: none;
  }
  @mixin inline-link-style {
    border-top: none;
    border-left: 1px solid darken($near-white, 5);
  }

  * {
    height: 100%;
  }

  li {
    margin-bottom: 0;
  }

  a {
    @include block-link-style;
    display: block;
    padding: 0 1em;
    line-height: $header-height-small;
  }

  a:hover {
    background: $grey;
    color: $white;
  }

  a:active {
    background: $dark-grey;
  }

  a.nav--inline {
    @include inline-link-style;
  }

  a.nav--btn {
    border: none;
    background: $red;
    color: $white;
    &:hover { background: darken($red, 5); }
    &:active { background: darken($red, 10); }
  }

  [data-behavior='close-menu'] {
    display: none;
  }

  @include media-ie(min-height $header-breakpoint) {
    a { line-height: $header-height-large; }
  }

  @include media-ie($nav-breakpoint) {
    li { float: left; }
    a { @include inline-link-style; }
  }

} // .m-nav
