.m-schedule {

  h3 {
    display: block;
    text-align: center;
  }

  tr {
    border-bottom: 1px dotted darken($light-grey, 10);
    &:last-child { border-bottom: 0; }
  }

  td {
    padding: 0.25em;
    border: none;
    vertical-align: top;
  }

  .schedule--date {
    padding: 1em 0 0;
    border: 0;
    text-align: center;
  }

  .schedule--time {
    padding-left: 0;
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
  }

  .schedule--event {
  }

  .schedule--location {
    padding-right: 0;
    font-style: italic;
    text-align: right;
  }

  th {
    padding: 0.25em;
  }

  @include media-ie(480px) {
    font-size: 125%;

    td {
      padding: 0.25em;
      vertical-align: top;
    }

  } // @include media-ie($breakpoint-ipad)

} // .m-schedule
