.m-schedule {

  tr {
    border-bottom: 1px dotted darken($light-grey, 10);
    &:last-child { border-bottom: 0; }
  }

  td {
    padding: 0.25em;
    border: none;
    vertical-align: top;
  }

  .schedule--time,
  .schedule--date {
    padding-left: 0;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
  }

  .schedule--film,
  .schedule--event {
    padding-right: 0;
  }

  @include media-ie(480px) {
    font-size: 125%;

    td {
      padding: 0.25em;
      vertical-align: top;
    }

  } // @include media-ie($breakpoint-ipad)

} // .m-schedule
