.m-section {
  padding: 4em 0;

  h1 {
    color: $red;
    font-size: 1.5em;
    font-weight: bold;
  }

  a {
    color: darken($tan, 25);
    &:hover { color: $red; }
    &:active { color: darken($red, 10); }
  }

  .section--center-link {
    display: block;
    text-align: center;
    font-size: 1.25em;
    font-style: italic;
  }

} // .m-section

.m-section-white-bg {
  background: $white;
  color: $dark-grey;
}

.m-section-light-bg {
  background: $near-white;
  color: darken($dark-grey, 15);
}

.m-section-medium-bg {
  background: $grey;
  color: $dark-grey;
}

.m-section-tan-bg {
  background: darken($tan, 25);
  color: darken($dark-grey, 15);
}
